################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ContentModeration/v16/Server/sqlite3
/ContentModeration/obj
/ContentModeration/bin/Debug/netcoreapp3.1
